$tooltip-size: 5em;
$line-height: 1.45;

@import "animations";
@import "asciidoctor";

:root {
  --gap: 1rem;
  --sidebar-width: 300px;
}

body {
  padding: 0;
  margin: 0;

  max-width: unset;
  width: 100vw;
  height: 100vh;
}

.book.sidebar {
  margin: 0;
  padding: var(--gap);
  background: var(--base01);
  height: 100vh;
  overflow-y: auto;
  outline: none;

  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);

  & ul, & ol {
    padding-left: 1em;
  }
}

.book.content {
  padding: var(--gap);
  overflow-y: auto;
  margin: 0 auto;
  margin-left: var(--sidebar-width);

  max-width: var(--content-width);
}

.site__toc-header {
  font-size: 1.25em;
  font-weight: bold;
}

article h1 {
  font-size: 2rem;
}
