# Text formatting
snippet bf "Boldface" iw
**$1**
endsnippet

snippet tt "Teletype (or monospace text)" iw
\`$1\`
endsnippet


# Content formatting
snippet src "Source code listing" bi
```$1
$2
```
$0
endsnippet

snippet link "Quick link" i
[$1]($2)
endsnippet

