{{- /*
  A partial for easily using icons from Simple Icons set.
*/ -}}
{{ if eq .iconset "simple-icons" }}
    {{- $res := resources.ExecuteAsTemplate (printf "svg/brands/%s.svg" .name)
                                            (dict "id" .name
                                                  "name" .name)
                                            (resources.Get "templates/simple-icon.svg") }}
    {{ $res.Content | safeHTML }}
{{ else if eq .iconset "material-design-icons" }}
    {{- $res := resources.Get (printf "svg/material-design-icons/%s.svg" .name) }}
    {{ $res.Content | safeHTML }}
{{ end }}
